<div class="sidenav">
	
	<a href="#" class="btn btn-info btn-lg anc" style="padding-right: 20px"><span class="glyphicon glyphicon-plus s"></span> NEW </a><hr>
	<a href="#">Load Invoice</a>
	<p>______________________________</p>
	<a href="#services">Customers</a>
	<p>______________________________</p>
	<a href="inventory.ejs">Inventory</a>
	<p>______________________________</p>
	<a href="#contact">Contact</a>
	<p>______________________________</p>
</div>